<!DOCTYPE html>
<html>
    <head>
        <title>Cloud Computing - 04</title>
        <style>
            form {
              border-bottom-style: solid;
              border-bottom-color: coral;
            }
            
            div {
              border-style: solid;
              border-bottom-color: rgb(3, 26, 75);
              padding-top: 10px;
            }

           
            </style>
    </head>
    <body>
        <div style="text-align: center;">
            <h1>Assignment - 04</h1>
            <h1>Neelesh Shashidhar</h1>
            <h1>1001860682</h1>
        



<div class="home">
   <form action="/index" method="post">

        <p>Please Select the category: </p>

        <input type="radio" id="teacher" name="category" value="professor">Teacher<br>
        <input type="radio" id="student" name="category" value="student">Student<br>
        <input type="radio" id="adminst" name="category" value="adminst">Admin<br><br>

         Name: <input type="Name" id="iname" name="iname" placeholder="Enter your Name" required><br/><br/>
         room: <input type="room" id="iroom" name="iroom" placeholder="Enter Room number" required><br/><br/>
        <input type="submit" value="Login"><br/><br/>
   
  </form>
</div><br/>
        </div></body>
</html>