<!DOCTYPE html>
<html>
    <head>
        <title>Cloud Computing - 04</title>
        <style>
            form {
              border-bottom-style: solid;
              border-bottom-color: coral;
            }
            
            div {
              border-style: solid;
              border-bottom-color: rgb(3, 26, 75);
              padding-top: 10px;
            }

           
            </style>
    </head>
    <body>
        <div style="text-align: center;">
            <h1>Assignment - 04</h1>
            <h1>Neelesh Shashidhar</h1>
            <h1>1001860682</h1>
        
 <form action="{{url_for('game')}}" enctype=multipart/form-data method="POST" style="width:30%;">

            <b>Login</b>
            <input type="radio" name="user" value="player1" id="player1">
            <label for="player1">Player 1</label>
            <input type="radio" name="user" value="player2" id="player2">
            <label for="player2">Player 2</label><br><br>
            <label for="username">Enter the players name</label>
            <input type="text" id="username" name="username"><br><br>
            <label for="room">Enter the room number</label>
            <input type="text" id="room" name="room"><br><br>
            <label for="stones">Enter the number of stones for above player</label>
            <input type="text" id="stones" name="username"><br><br>
            <a href="/game"><input type="submit" value="login"></a>

    </form>


</body>
</html>